*{
    margin: 0px;
    box-sizing: border-box;

}

.box{
    width: 400px;
    height: 485px;
    background-color: black;
    margin-left: 40%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.result-div{
    height: 90px;
    width: 100%;
    border-bottom: 1px solid white;
}

.para{
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.common{
    border-radius: 25px;
    margin: 7px ;
}

.common:hover{
    border: 3px solid white ;
}
/* row-1 */


.row-1{
    width: 100%;
    height: 75px;
    display: flex;
    
}

.row-1-c{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: 700;
    font-size: large;
    background-color: rgb(236, 96, 45);
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
    
}

.row-1-cross{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(236, 96, 45);
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-1-divide{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 20px;
    background-color: rgb(236, 96, 45);
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}


.row-1-multiply{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    background-color: rgb(236, 96, 45);
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}


/* row-2 */
.row-2{
    width: 100%;
    height: 75px;
    display: flex;
    margin-top: 3px 
   
}

.row-2-7{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-2-8{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-2-9{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-2-minus{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 20px;
    background-color: rgb(236, 96, 45);
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

/* row-3 */
.row-3{
    width: 100%;
    height: 75px;
    display: flex;
    margin-top: 3px 
    
}

.row-3-4{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-3-5{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-3-6{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-3-plus{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    background-color: rgb(236, 96, 45);
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

/* row-4 */

.row-4{
    width: 100%;
    height: 75px;
    display: flex;
    margin-top: 3px 
}

.row-4-1{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-4-2{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-4-3{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-4-modulo{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    background-color: rgb(236, 96, 45);
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

/* row-5 */

.row-5{
    width: 100%;
    height: 75px;
    display: flex;
    margin:3px 0px 2px 0px;
   
}

.row-5-0{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-5-dot{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 20px;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}

.row-5-equal{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 7px rgb(136, 132, 132);
}